In [1]:
import os
import pandas as pd
#os.chdir("")

In [2]:
hepatitis=pd.read_csv("hepatitis.txt",na_values=["?",","])
print(hepatitis.shape)
print(type(hepatitis))

(154, 20)
<class 'pandas.core.frame.DataFrame'>

In [3]:
print(hepatitis.columns)
print(hepatitis.dtypes)

Index(['2', '30', '2.1', '1', '2.2', '2.3', '2.4', '2.5', '1.1', '2.6', '2.7',
       '2.8', '2.9', '2.10', '1.00', '85', '18', '4.0', '?', '1.2'],
      dtype='object')
2         int64
30        int64
2.1       int64
1       float64
2.2       int64
2.3     float64
2.4     float64
2.5     float64
1.1     float64
2.6     float64
2.7     float64
2.8     float64
2.9     float64
2.10    float64
1.00    float64
85      float64
18      float64
4.0     float64
?       float64
1.2       int64
dtype: object

In [10]:
bank["Personal Loan"].value_counts()

0    4520
1     480
Name: Personal Loan, dtype: int64

In [11]:
bank=bank.drop(["ID"],axis=1)

In [12]:
bank.head(6)

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,37,13,29,92121,4,0.4,2,155,0,0,0,1,0

In [13]:
bank['Education']=bank['Education'].astype('category')

In [15]:
bank=pd.get_dummies(bank)

In [16]:
bank.head(5)

,Age,Experience,Income,ZIP Code,Family,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Education_1,Education_2,Education_3
0,25,1,49,91107,4,1.6,0,0,1,0,0,0,1,0,0
1,45,19,34,90089,3,1.5,0,0,1,0,0,0,1,0,0
2,39,15,11,94720,1,1.0,0,0,0,0,0,0,1,0,0
3,35,9,100,94112,1,2.7,0,0,0,0,0,0,0,1,0
4,35,8,45,91330,4,1.0,0,0,0,0,0,1,0,1,0

In [17]:
 bank=bank.fillna(bank.mean())

In [19]:
from sklearn import preprocessing, metrics, cross_validation
from sklearn.model_selection import train_test_split

In [20]:
# Divide into train and test
y=bank["Personal Loan"]
X=bank.drop('Personal Loan', axis=1)

#from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [21]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4000, 14)
(1000, 14)
(4000,)
(1000,)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [24]:
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

# Build SVM Classifier

In [25]:
from sklearn import svm

In [45]:
model= svm.SVC(C=10,kernel='linear')
model.fit(X_train,y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [46]:
model.coef_

array([[-0.16399497,  0.23371589,  1.47542868, -0.02739724,  0.2519407 ,
         0.1589189 ,  0.04316058, -0.1714085 ,  0.53897912, -0.13484518,
        -0.27258375, -0.82469471,  0.42206368,  0.47413564]])

In [47]:
model.intercept_

array([-2.87261741])

In [48]:
# Predict on Test with max_depth=2,max_depth=5
y_pred = model.predict(X_test)

In [49]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.959

In [50]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[900   5]
 [ 36  59]]

In [51]:
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred, pos_label=1, average='binary'))

0.6210526315789474

# Build SVM Classifier with weights

In [52]:
model1= svm.SVC(C=10,kernel='linear',class_weight={1: 7,0:0.5})
model1.fit(X_train,y_train)

SVC(C=10, cache_size=200, class_weight={1: 7, 0: 0.5}, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [53]:
# Predict on Test 
y_pred = model1.predict(X_test)

In [54]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.887

In [55]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[798 107]
 [  6  89]]

In [56]:
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred, pos_label=1, average='binary'))

0.9368421052631579

# GridSearch Cross Validation

In [57]:
#from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import GridSearchCV
Cs = [0.001, 0.01, 0.1, 1, 10]
gammas = [0.001, 0.01, 0.1, 1]
param_grid = {'C': Cs, 'gamma' : gammas}
clf = GridSearchCV(svm.SVC(kernel='rbf',class_weight={1: 2,0:0.5}), param_grid, n_jobs=4,scoring='recall')
clf.fit(X=X_train, y=y_train)
svm_model = clf.best_estimator_
print (clf.best_score_, clf.best_params_)

0.9039070978682171 {'C': 10, 'gamma': 0.01}

In [58]:

y_pred_test=svm_model.predict(X_test)
print(accuracy_score(y_test,y_pred_test))

0.974

In [59]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred_test))

[[890  15]
 [ 11  84]]

In [67]:
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred_test, pos_label=1, average='binary'))

0.893203883495

Explore function SVM regressor
http://scikit-learn.org/stable/modules/svm.html