# 2018-09-01 Cute Python

2. a. Print all the integers till 1000 which are not a multiple of 8 but are divisible by 4, also print the count of such occurrences.

In [80]:
# assuming 1000 is inclusive so taking range till 1001
count = 0
for i in range(1,1001):
#     not multiple of 8 mean 8%i != 0 and divisible by 4 means i%4 == 0
    if 8%i != 0 and i%4 == 0:
        print(i)
        count += 1
print("Count: ",count)

12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100
104
108
112
116
120
124
128
132
136
140
144
148
152
156
160
164
168
172
176
180
184
188
192
196
200
204
208
212
216
220
224
228
232
236
240
244
248
252
256
260
264
268
272
276
280
284
288
292
296
300
304
308
312
316
320
324
328
332
336
340
344
348
352
356
360
364
368
372
376
380
384
388
392
396
400
404
408
412
416
420
424
428
432
436
440
444
448
452
456
460
464
468
472
476
480
484
488
492
496
500
504
508
512
516
520
524
528
532
536
540
544
548
552
556
560
564
568
572
576
580
584
588
592
596
600
604
608
612
616
620
624
628
632
636
640
644
648
652
656
660
664
668
672
676
680
684
688
692
696
700
704
708
712
716
720
724
728
732
736
740
744
748
752
756
760
764
768
772
776
780
784
788
792
796
800
804
808
812
816
820
824
828
832
836
840
844
848
852
856
860
864
868
872
876
880
884
888
892
896
900
904
908
912
916
920
924
928
932
936
940
944
948
952
956
960
964
968
972
976
980
984
988
992
996
1000
Count:  248

2. b. Create a list of 20 integers and write code for the following:

In [81]:
import random

# generating random 20 numbers
int_arr = []
for x in range(20):
#     generating random integers b/w 1 and 100
    int_arr.append(random.randint(1,100))
print(int_arr)

[33, 22, 85, 32, 38, 17, 25, 75, 98, 44, 15, 5, 82, 40, 29, 46, 13, 96, 60, 73]

Print the sum of the list of squared values

In [82]:
sum = 0
for x in int_arr:
#     x**2 calculates the square and adding it to sum
    sum += x**2

print(sum)

59190

Print the odd values

In [83]:
# this also works :)
# for x in int_arr:
#     if x%2 != 0:
#         print(x)

# inline implementation
values = [print(x) for x in int_arr if x%2 != 0]

33
85
17
25
75
15
5
29
13
73

Print the numbers that are divisible by 5 but are not divisible by 10

In [84]:
# again this works as well
# for x in int_arr:
#     if x%5 == 0 and x%10 != 0:
#         print(x)

# inline implementation
values = [print(x) for x in int_arr if x%5 == 0 and x%10 != 0]

85
25
75
15
5

Print the numbers that are not prime

In [85]:
def check_if_prime(num):
    # prime numbers are greater than 1
    if num > 1:
        # check for factors
        for i in range(2,num):
            if (num % i) == 0:
                print(num)
                break
    # if input number is less than or equal to 1, it is not prime
    else:
        print(num)

for i in int_arr:
    check_if_prime(i)

33
22
85
32
38
25
75
98
44
15
82
40
46
96
60

c. Palindrome is a word, phrase, or sequence that reads the same backwards as forwards. Write a function to print “Palindrome” if the input string is a palindrome, else “Not a Palindrome”.

Eg: If input is “Rotator” the function should return “Palindrome” If input is “Insofe” the function should return “Not a Palindrome”

In [86]:
def check_if_palindrome(my_str):
    # convert to lower case
    my_str = my_str.lower()

    # reverse the string
    rev_str = reversed(my_str)

    # check if the string is equal to its reverse
    if list(my_str) == list(rev_str):
        print("Palindrome")
    else:
        print("Not a Palindrome")
        
check_if_palindrome('Rotator')
check_if_palindrome('Insofe')
check_if_palindrome('Amith')
check_if_palindrome('LLLLliriLLLLL')
check_if_palindrome('aabbaa')

Palindrome
Not a Palindrome
Not a Palindrome
Palindrome
Palindrome

d. Write a function that takes a string as an input and returns the sum of the numbers corresponding to each alphabets position from a to z. (Hint: can use a dictionary, handle cases of the input string)

In [87]:
import string

# confirmed with Manoj can use only lower case alphabets
# generating dictionary of lower case alphabets
alpha_dict = dict(zip(string.ascii_lowercase, range(1,27)))

def sum_str_values(str):
    sum = 0
    for i in str:
#         converting the character to lower case and extracting value from dictionary
#         print(alpha_dict[i.lower()])
        sum += alpha_dict[i.lower()]
    print(sum)
    
sum_str_values("Amith")        
sum_str_values("Manoj")
sum_str_values("iytfhGFGDFHJKNfsxvc")
sum_str_values("Regards")

51
53
215
72